version: "3.8"

services:
  chromadb:
    image: chromadb/chroma:latest
    container_name: llm_projekt_chromadb
    ports:
      - "9000:8000"
    volumes:
        - chromadb_data:/data
    deploy:
      resources:
        reservations:
          devices:
              - capabilities: [ gpu ]

    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility

volumes:
  chromadb_data:
